<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dolab : Dolab Personal Banking Admin Bootstrap 5 Template">
    <meta property="og:title" content="Dolab : Dolab Personal Banking Admin Bootstrap 5 Template">
    <meta property="og:description" content="Dolab : Dolab Personal Banking Admin Bootstrap 5 Template">
    <meta property="og:image" content="https://dolab.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">
    <base href="/"/>
    <!-- <link rel="icon" type="image/png" href="favicon.png"/> -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="vendor/jquery-autocomplete/jquery-ui.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <HeadOutlet/>
</head>

<body>
    <div id="preloader">
        <div class="inner">
            <span>Yüklənir </span>
            <div class="loading">
            </div>
        </div>
    </div>
    <Routes/>
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendor/apexchart/apexchart.js"></script>
    <script src="vendor/peity/jquery.peity.min.js"></script>
    <script src="vendor/chartist/js/chartist.min.js"></script>
    <script src="vendor/jquery-autocomplete/jquery-ui.js"></script>
    <script src="js/dashboard/dashboard-1.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>